@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Page.Title = "Places";
}


@section Styles{
}

@model ginko_webapp.Areas.Admin.Models.ObjectModels.PlaceModel

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Place: </h6>
    </div>
    <div class="card-body">
        <form action="@Url.Action("Edit", "Place")" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "10"})
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    @Html.TextBoxFor(model => model.FileImages, new { @type = "file", @id = "imgFile", @multiple = "multiple", @data_show_upload = "false", @data_show_caption = "true", @data_msg_placeholder = "Select {files} for upload..." })
                    @Html.ValidationMessageFor(model => model.FileImages, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
<script>
    $("#imgFile").fileinput({
        "theme": "fas",
        "initialPreview": JSON.parse('@Html.Raw(Json.Encode(Model.Images))'),
        "initialPreviewAsData": true,
    });
</script>
}